<a href="https://colab.research.google.com/github/A01795331/estefania/blob/main/3_2_Actividad_3_Acceso_BD_y_manipulaci%C3%B3n_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Primera parte

In [20]:
import sqlalchemy as sqla
from sqlalchemy import text  # Agregar importación de text

# Instalar las bibliotecas necesarias
!pip install sqlalchemy pymysql

try:
    # 1 Crear el engine y  connect
    db = sqla.create_engine(
        'mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.106.157.52:3306/classicmodels',
        pool_recycle=3600
    )
    conn = db.connect()

    # 2 Consulta SQL para obtener información de las líneas de productos
    query_product_lines = text("SELECT * FROM productlines")
    result = conn.execute(query_product_lines)
    for row in result.fetchall():
      print(row)
      print()

    # 3 Consulta SQL para obtener empleados ordenados por nombre
    query_employees = text("SELECT * FROM employees ORDER BY lastName, firstName")
    result = conn.execute(query_employees)
    for row in result.fetchall():
       print(row)
       print()

    # 4 Consulta SQL para obtener los países con oficinas
    query_countries_with_offices = text("SELECT DISTINCT country FROM offices")
    result = conn.execute(query_countries_with_offices)
    for row in result.fetchall():
      print(row[0])

    # 5 Consulta SQL para obtener nombre y teléfono de clientes de Nueva York
    query_customers_nyc = text("SELECT customerName, phone FROM customers WHERE city = 'NYC'")
    result = conn.execute(query_customers_nyc)
    for row in result.fetchall():
       print(row)
       print()

    # 6 Consulta SQL para obtener código y nombre de productos de 'Gearbox Collectibles' con menos de 1000 unidades en stock
    query_gearbox_products = text(
    "SELECT productCode, productName "
    "FROM products "
    "WHERE productVendor = 'Gearbox Collectibles' AND quantityInStock < 1000"
    )
    result = conn.execute(query_gearbox_products)
    for row in result.fetchall():
       print(row)
       print()

    # 7 Consulta SQL para obtener los tres productos más caros
    query_top_prices = text(
    "SELECT productCode, productName, buyPrice "
    "FROM products "
    "ORDER BY buyPrice DESC "
    "LIMIT 3"
    )
    result = conn.execute(query_top_prices)
    for row in result.fetchall():
      print(row)
      print()

    # 8 Consulta SQL para obtener la cantidad de productos por línea de producto
    query_products_per_line = text(
        "SELECT productLine, COUNT(*) as productCount "
        "FROM products "
        "GROUP BY productLine"
    )
    result = conn.execute(query_products_per_line)
    for row in result.fetchall():
        print(f"Product Line: {row[0]}, Product Count: {row[1]}")
        print()

    # 9 Consulta SQL para obtener la cantidad de empleados por país
    query_employees_per_country = text(
        "SELECT o.country, COUNT(e.employeeNumber) as employeeCount "
        "FROM employees e "
        "JOIN offices o ON e.officeCode = o.officeCode "
        "GROUP BY o.country"
    )
    result = conn.execute(query_employees_per_country)
    for row in result.fetchall():
        print(f"Country: {row[0]}, Employee Count: {row[1]}")
        print()

    # 10 Consulta SQL para obtener el promedio de los pagos por cada cliente de España
    query_avg_payments_per_customer_spain = text(
        "SELECT c.customerName, AVG(p.amount) as averagePayment "
        "FROM customers c "
        "JOIN payments p ON c.customerNumber = p.customerNumber "
        "WHERE c.country = 'Spain' "
        "GROUP BY c.customerNumber"
    )
    result = conn.execute(query_avg_payments_per_customer_spain)
    for row in result.fetchall():
        print(f"Customer: {row[0]}, Average Payment: {row[1]:.2f}")
        print()

finally:
    # Cerrar la conexión en el bloque finally para asegurarse de que se cierre incluso si hay un error.
    if conn:
        conn.close()

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.20)
Requirement already satisfied: pymysql in /usr/local/lib/python3.10/dist-packages (1.1.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (2.0.2)
('Classic Cars', 'Attention car enthusiasts: Make your wildest car ownership dreams come true. Whether you are looking for classic muscle cars, dream sports cars or mo ... (437 characters truncated) ... cles. All models include a certificate of authenticity from their manufacturers and come fully assembled and ready for display in the home or office.', None, None)

('Motorcycles', 'Our motorcycles are state of the art replicas of classic as well as contemporary motorcycle legends such as Harley Davidson, Ducati and Vespa. Models ... (297 characters truncated) ...  out-of-production vehicles. All models come fully assembled and ready for display in the home or office. Most include a certificate of authenticity.', None, None)

('Planes', 'Unique, diecast airplane and helicopter replicas suitable for collections, as well as home, office or classroom decorations. Models contain stunning  ... (55 characters truncated) ... jet engines and propellers, retractable wheels, and so on. Most come fully assembled and with a certificate of authenticity from their manufacturers.', None, None)

('Ships', 'The perfect holiday or anniversary gift for executives, clients, friends, and family. These handcrafted model ships are unique, stunning works of art ... (12 characters truncated) ... e treasured for generations! They come fully assembled and ready for display in the home or office. We guarantee the highest quality, and best value.', None, None)

('Trains', "Model trains are a rewarding hobby for enthusiasts of all ages. Whether you're looking for collectible wooden trains, electric streetcars or locomoti ... (73 characters truncated) ... egory. The interactive aspect of trains makes toy trains perfect for young children. The wooden train sets are ideal for children under the age of 5.", None, None)

('Trucks and Buses', 'The Truck and Bus models are realistic replicas of buses and specialized trucks produced from the early 1920s to present. The models range in size fr ... (124 characters truncated) ... n, diecast and plastic. All models include a certificate of authenticity from their manufacturers and are a perfect ornament for the home and office.', None, None)

('Vintage Cars', 'Our Vintage Car models realistically portray automobiles produced from the early 1900s through the 1940s. Materials used include Bakelite, diecast, p ... (202 characters truncated) ... icas. All models include a certificate of authenticity from their manufacturers and come fully assembled and ready for display in the home or office.', None, None)

(1102, 'Bondur', 'Gerard', 'x5408', 'gbondur@classicmodelcars.com', '4', 1056, 'Sale Manager (EMEA)')

(1337, 'Bondur', 'Loui', 'x6493', 'lbondur@classicmodelcars.com', '4', 1102, 'Sales Rep')

(1501, 'Bott', 'Larry', 'x2311', 'lbott@classicmodelcars.com', '7', 1102, 'Sales Rep')

(1143, 'Bow', 'Anthony', 'x5428', 'abow@classicmodelcars.com', '1', 1056, 'Sales Manager (NA)')

(1401, 'Castillo', 'Pamela', 'x2759', 'pcastillo@classicmodelcars.com', '4', 1102, 'Sales Rep')

(1076, 'Firrelli', 'Jeff', 'x9273', 'jfirrelli@classicmodelcars.com', '1', 1002, 'VP Marketing')

(1188, 'Firrelli', 'Julie', 'x2173', 'jfirrelli@classicmodelcars.com', '2', 1143, 'Sales Rep')

(1611, 'Fixter', 'Andy', 'x101', 'afixter@classicmodelcars.com', '6', 1088, 'Sales Rep')

(1702, 'Gerard', 'Martin', 'x2312', 'mgerard@classicmodelcars.com', '4', 1102, 'Sales Rep')

(1370, 'Hernandez', 'Gerard', 'x2028', 'ghernande@classicmodelcars.com', '4', 1102, 'Sales Rep')

(1165, 'Jennings', 'Leslie', 'x3291', 'ljennings@classicmodelcars.com', '1', 1143, 'Sales Rep')

(1504, 'Jones', 'Barry', 'x102', 'bjones@classicmodelcars.com', '7', 1102, 'Sales Rep')

(1625, 'Kato', 'Yoshimi', 'x102', 'ykato@classicmodelcars.com', '5', 1621, 'Sales Rep')

(1619, 'King', 'Tom', 'x103', 'tking@classicmodelcars.com', '6', 1088, 'Sales Rep')

(1612, 'Marsh', 'Peter', 'x102', 'pmarsh@classicmodelcars.com', '6', 1088, 'Sales Rep')

(1002, 'Murphy', 'Diane', 'x5800', 'dmurphy@classicmodelcars.com', '1', None, 'President')

(1621, 'Nishi', 'Mami', 'x101', 'mnishi@classicmodelcars.com', '5', 1056, 'Sales Rep')

(1056, 'Patterson', 'Mary', 'x4611', 'mpatterso@classicmodelcars.com', '1', 1002, 'VP Sales')

(1216, 'Patterson', 'Steve', 'x4334', 'spatterson@classicmodelcars.com', '2', 1143, 'Sales Rep')

(1088, 'Patterson', 'William', 'x4871', 'wpatterson@classicmodelcars.com', '6', 1056, 'Sales Manager (APAC)')

(1166, 'Thompson', 'Leslie', 'x4065', 'lthompson@classicmodelcars.com', '1', 1143, 'Sales Rep')

(1286, 'Tseng', 'Foon Yue', 'x2248', 'ftseng@classicmodelcars.com', '3', 1143, 'Sales Rep')

(1323, 'Vanauf', 'George', 'x4102', 'gvanauf@classicmodelcars.com', '3', 1143, 'Sales Rep')

USA
France
Japan
Australia
UK
('Land of Toys Inc.', '2125557818')

('Muscle Machine Inc', '2125557413')

('Vitachrome Inc.', '2125551500')

('Classic Legends Inc.', '2125558493')

('Microscale Inc.', '2125551957')

('S18_2581', 'P-51-D Mustang')

('S18_2795', '1928 Mercedes-Benz SSK')

('S10_4962', '1962 LanciaA Delta 16V', Decimal('103.42'))

('S18_2238', '1998 Chrysler Plymouth Prowler', Decimal('101.51'))

('S10_1949', '1952 Alpine Renault 1300', Decimal('98.58'))

Product Line: Classic Cars, Product Count: 38

Product Line: Motorcycles, Product Count: 13

Product Line: Planes, Product Count: 12

Product Line: Ships, Product Count: 9

Product Line: Trains, Product Count: 3

Product Line: Trucks and Buses, Product Count: 11

Product Line: Vintage Cars, Product Count: 24

Country: Australia, Employee Count: 4

Country: France, Employee Count: 5

Country: Japan, Employee Count: 2

Country: UK, Employee Count: 2

Country: USA, Employee Count: 10

Customer: Euro+ Shopping Channel, Average Payment: 55056.84

Customer: Enaco Distributors, Average Payment: 22840.16

Customer: CAF Imports, Average Payment: 23375.57

Customer: Corrida Auto Replicas, Ltd, Average Payment: 37480.03

Customer: Iberia Gift Imports, Corp., Average Payment: 25493.92

In [22]:
import sqlalchemy as sqla
import pandas as pd

# Instalar las bibliotecas necesarias
!pip install sqlalchemy pymysql

try:
    # 1 Crear el engine y conectar
    db = sqla.create_engine(
        'mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.106.157.52:3306/classicmodels',
        pool_recycle=3600
    )
    conn = db.connect()

    # 2 Consulta SQL para obtener información de las líneas de productos
    query_product_lines = text("SELECT * FROM productlines")
    df_product_lines = pd.read_sql_query(query_product_lines, conn)
    print("2. Product Lines:")
    print(df_product_lines)
    print()

    # 3 Consulta SQL para obtener empleados ordenados por nombre
    query_employees = text("SELECT * FROM employees ORDER BY lastName, firstName")
    df_employees = pd.read_sql_query(query_employees, conn)
    print("3. Employees:")
    print(df_employees)
    print()

    # 4 Consulta SQL para obtener los países con oficinas
    query_countries_with_offices = text("SELECT DISTINCT country FROM offices")
    df_countries_with_offices = pd.read_sql_query(query_countries_with_offices, conn)
    print("4. Countries with Offices:")
    print(df_countries_with_offices)
    print()

    # 5 Consulta SQL para obtener nombre y teléfono de clientes de Nueva York
    query_customers_nyc = text("SELECT customerName, phone FROM customers WHERE city = 'NYC'")
    df_customers_nyc = pd.read_sql_query(query_customers_nyc, conn)
    print("5. Customers in NYC:")
    print(df_customers_nyc)
    print()

    # 6 Consulta SQL para obtener código y nombre de productos de 'Gearbox Collectibles' con menos de 1000 unidades en stock
    query_gearbox_products = text(
        "SELECT productCode, productName "
        "FROM products "
        "WHERE productVendor = 'Gearbox Collectibles' AND quantityInStock < 1000"
    )
    df_gearbox_products = pd.read_sql_query(query_gearbox_products, conn)
    print("6. Gearbox Products with Less Than 1000 Units in Stock:")
    print(df_gearbox_products)
    print()

    # 7 Consulta SQL para obtener los tres productos más caros
    query_top_prices = text(
        "SELECT productCode, productName, buyPrice "
        "FROM products "
        "ORDER BY buyPrice DESC "
        "LIMIT 3"
    )
    df_top_prices = pd.read_sql_query(query_top_prices, conn)
    print("7. Top 3 Most Expensive Products:")
    print(df_top_prices)
    print()

    # 8 Consulta SQL para obtener la cantidad de productos por línea de producto
    query_products_per_line = text(
        "SELECT productLine, COUNT(*) as productCount "
        "FROM products "
        "GROUP BY productLine"
    )
    df_products_per_line = pd.read_sql_query(query_products_per_line, conn)
    print("8. Products Per Product Line:")
    print(df_products_per_line)
    print()

    # 9 Consulta SQL para obtener la cantidad de empleados por país
    query_employees_per_country = text(
        "SELECT o.country, COUNT(e.employeeNumber) as employeeCount "
        "FROM employees e "
        "JOIN offices o ON e.officeCode = o.officeCode "
        "GROUP BY o.country"
    )
    df_employees_per_country = pd.read_sql_query(query_employees_per_country, conn)
    print("9. Employees Per Country:")
    print(df_employees_per_country)
    print()

    # 10 Consulta SQL para obtener el promedio de los pagos por cada cliente de España
    query_avg_payments_per_customer_spain = text(
        "SELECT c.customerName, AVG(p.amount) as averagePayment "
        "FROM customers c "
        "JOIN payments p ON c.customerNumber = p.customerNumber "
        "WHERE c.country = 'Spain' "
        "GROUP BY c.customerNumber"
    )
    df_avg_payments_per_customer_spain = pd.read_sql_query(query_avg_payments_per_customer_spain, conn)
    print("10. Average Payments Per Customer in Spain:")
    print(df_avg_payments_per_customer_spain)
    print()

finally:
    # Cerrar la conexión en el bloque finally para asegurarse de que se cierre incluso si hay un error.
    if conn:
        conn.close()

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.20)
Requirement already satisfied: pymysql in /usr/local/lib/python3.10/dist-packages (1.1.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (2.0.2)
2. Product Lines:
        productLine                                    textDescription  \
0      Classic Cars  Attention car enthusiasts: Make your wildest c...
1       Motorcycles  Our motorcycles are state of the art replicas ...
2            Planes  Unique, diecast airplane and helicopter replic...
3             Ships  The perfect holiday or anniversary gift for ex...
4            Trains  Model trains are a rewarding hobby for enthusi...
5  Trucks and Buses  The Truck and Bus models are realistic replica...
6      Vintage Cars  Our Vintage Car models realistically portray a...

  htmlDescription image
0            None  None
1            None  None
2            None  None
3            None  None
4            None  None
5            None  None
6            None  None

3. Employees:
    employeeNumber   lastName firstName extension  \
0             1102     Bondur    Gerard     x5408
1             1337     Bondur      Loui     x6493
2             1501       Bott     Larry     x2311
3             1143        Bow   Anthony     x5428
4             1401   Castillo    Pamela     x2759
5             1076   Firrelli      Jeff     x9273
6             1188   Firrelli     Julie     x2173
7             1611     Fixter      Andy      x101
8             1702     Gerard    Martin     x2312
9             1370  Hernandez    Gerard     x2028
10            1165   Jennings    Leslie     x3291
11            1504      Jones     Barry      x102
12            1625       Kato   Yoshimi      x102
13            1619       King       Tom      x103
14            1612      Marsh     Peter      x102
15            1002     Murphy     Diane     x5800
16            1621      Nishi      Mami      x101
17            1056  Patterson      Mary     x4611
18            1216  Patterson     Steve     x4334
19            1088  Patterson   William     x4871
20            1166   Thompson    Leslie     x4065
21            1286      Tseng  Foon Yue     x2248
22            1323     Vanauf    George     x4102

                              email officeCode  reportsTo  \
0      gbondur@classicmodelcars.com          4     1056.0
1      lbondur@classicmodelcars.com          4     1102.0
2        lbott@classicmodelcars.com          7     1102.0
3         abow@classicmodelcars.com          1     1056.0
4    pcastillo@classicmodelcars.com          4     1102.0
5    jfirrelli@classicmodelcars.com          1     1002.0
6    jfirrelli@classicmodelcars.com          2     1143.0
7      afixter@classicmodelcars.com          6     1088.0
8      mgerard@classicmodelcars.com          4     1102.0
9    ghernande@classicmodelcars.com          4     1102.0
10   ljennings@classicmodelcars.com          1     1143.0
11      bjones@classicmodelcars.com          7     1102.0
12       ykato@classicmodelcars.com          5     1621.0
13       tking@classicmodelcars.com          6     1088.0
14      pmarsh@classicmodelcars.com          6     1088.0
15     dmurphy@classicmodelcars.com          1        NaN
16      mnishi@classicmodelcars.com          5     1056.0
17   mpatterso@classicmodelcars.com          1     1002.0
18  spatterson@classicmodelcars.com          2     1143.0
19  wpatterson@classicmodelcars.com          6     1056.0
20   lthompson@classicmodelcars.com          1     1143.0
21      ftseng@classicmodelcars.com          3     1143.0
22     gvanauf@classicmodelcars.com          3     1143.0

                jobTitle
0    Sale Manager (EMEA)
1              Sales Rep
2              Sales Rep
3     Sales Manager (NA)
4              Sales Rep
5           VP Marketing
6              Sales Rep
7              Sales Rep
8              Sales Rep
9              Sales Rep
10             Sales Rep
11             Sales Rep
12             Sales Rep
13             Sales Rep
14             Sales Rep
15             President
16             Sales Rep
17              VP Sales
18             Sales Rep
19  Sales Manager (APAC)
20             Sales Rep
21             Sales Rep
22             Sales Rep

4. Countries with Offices:
     country
0        USA
1     France
2      Japan
3  Australia
4         UK

5. Customers in NYC:
           customerName       phone
0     Land of Toys Inc.  2125557818
1    Muscle Machine Inc  2125557413
2       Vitachrome Inc.  2125551500
3  Classic Legends Inc.  2125558493
4       Microscale Inc.  2125551957

6. Gearbox Products with Less Than 1000 Units in Stock:
  productCode             productName
0    S18_2581          P-51-D Mustang
1    S18_2795  1928 Mercedes-Benz SSK

7. Top 3 Most Expensive Products:
  productCode                     productName  buyPrice
0    S10_4962          1962 LanciaA Delta 16V    103.42
1    S18_2238  1998 Chrysler Plymouth Prowler    101.51
2    S10_1949        1952 Alpine Renault 1300     98.58

8. Products Per Product Line:
        productLine  productCount
0      Classic Cars            38
1       Motorcycles            13
2            Planes            12
3             Ships             9
4            Trains             3
5  Trucks and Buses            11
6      Vintage Cars            24

9. Employees Per Country:
     country  employeeCount
0  Australia              4
1     France              5
2      Japan              2
3         UK              2
4        USA             10

10. Average Payments Per Customer in Spain:
                 customerName  averagePayment
0      Euro+ Shopping Channel    55056.844615
1          Enaco Distributors    22840.156667
2                 CAF Imports    23375.570000
3  Corrida Auto Replicas, Ltd    37480.030000
4  Iberia Gift Imports, Corp.    25493.925000

In [28]:
# Instalar las bibliotecas necesarias
!pip install firebase-admin pandas

# Configurar la conexión a Firestore
import firebase_admin
from firebase_admin import credentials, firestore

cred = credentials.Certificate('veterinary.json')

# Verificar si la aplicación ya está inicializada antes de intentar inicializarla
if not firebase_admin._apps:
    firebase_admin.initialize_app(cred)

db = firestore.client()

# Leer la colección PET_OWNER y mostrar en un DataFrame
import pandas as pd

# Leer la colección PET_OWNER
pet_owner_collection = db.collection('PET_OWNER')
pet_owner_documents = pet_owner_collection.get()

# Crear una lista de diccionarios con los datos
data_list = []
for doc in pet_owner_documents:
    data = doc.to_dict()
    data['id'] = doc.id
    data_list.append(data)

# Convertir la lista a un DataFrame
df_pet_owner = pd.DataFrame(data_list)

# Seleccionar y reorganizar las columnas según el orden solicitado
df_pet_owner = df_pet_owner[['id', 'ownerLastName', 'email', 'phone', 'ownerFirstName']]

# Mostrar el DataFrame
print(df_pet_owner)

Requirement already satisfied: firebase-admin in /usr/local/lib/python3.10/dist-packages (5.3.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: cachecontrol>=0.12.6 in /usr/local/lib/python3.10/dist-packages (from firebase-admin) (0.13.1)
Requirement already satisfied: google-api-python-client>=1.7.8 in /usr/local/lib/python3.10/dist-packages (from firebase-admin) (2.84.0)
Requirement already satisfied: google-cloud-storage>=1.37.1 in /usr/local/lib/python3.10/dist-packages (from firebase-admin) (2.8.0)
Requirement already satisfied: google-api-core[grpc]<3.0.0dev,>=1.22.1 in /usr/local/lib/python3.10/dist-packages (from firebase-admin) (2.11.1)
Requirement already satisfied: google-cloud-firestore>=2.1.0 in /usr/local/lib/python3.10/dist-packages (from firebase-admin) (2.11.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: requests>=2.16.0 in /usr/local/lib/python3.10/dist-packages (from cachecontrol>=0.12.6->firebase-admin) (2.31.0)
Requirement already satisfied: msgpack>=0.5.2 in /usr/local/lib/python3.10/dist-packages (from cachecontrol>=0.12.6->firebase-admin) (1.0.5)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core[grpc]<3.0.0dev,>=1.22.1->firebase-admin) (1.60.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 in /usr/local/lib/python3.10/dist-packages (from google-api-core[grpc]<3.0.0dev,>=1.22.1->firebase-admin) (3.20.3)
Requirement already satisfied: google-auth<3.0.dev0,>=2.14.1 in /usr/local/lib/python3.10/dist-packages (from google-api-core[grpc]<3.0.0dev,>=1.22.1->firebase-admin) (2.17.3)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core[grpc]<3.0.0dev,>=1.22.1->firebase-admin) (1.57.0)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core[grpc]<3.0.0dev,>=1.22.1->firebase-admin) (1.48.2)
Requirement already satisfied: httplib2<1dev,>=0.15.0 in /usr/local/lib/python3.10/dist-packages (from google-api-python-client>=1.7.8->firebase-admin) (0.22.0)
Requirement already satisfied: google-auth-httplib2>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from google-api-python-client>=1.7.8->firebase-admin) (0.1.0)
Requirement already satisfied: uritemplate<5,>=3.0.1 in /usr/local/lib/python3.10/dist-packages (from google-api-python-client>=1.7.8->firebase-admin) (4.1.1)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from google-cloud-firestore>=2.1.0->firebase-admin) (2.3.3)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-firestore>=2.1.0->firebase-admin) (1.22.3)
Requirement already satisfied: google-resumable-media>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from google-cloud-storage>=1.37.1->firebase-admin) (2.6.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]<3.0.0dev,>=1.22.1->firebase-admin) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]<3.0.0dev,>=1.22.1->firebase-admin) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]<3.0.0dev,>=1.22.1->firebase-admin) (4.9)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /usr/local/lib/python3.10/dist-packages (from google-resumable-media>=2.3.2->google-cloud-storage>=1.37.1->firebase-admin) (1.5.0)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in /usr/local/lib/python3.10/dist-packages (from httplib2<1dev,>=0.15.0->google-api-python-client>=1.7.8->firebase-admin) (3.1.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.16.0->cachecontrol>=0.12.6->firebase-admin) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.16.0->cachecontrol>=0.12.6->firebase-admin) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.16.0->cachecontrol>=0.12.6->firebase-admin) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.16.0->cachecontrol>=0.12.6->firebase-admin) (2023.7.22)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]<3.0.0dev,>=1.22.1->firebase-admin) (0.5.0)
                     id ownerLastName                        email  \
0  0D6yFSs2eu4nYwf2dnQ0        Taylor                         None
1  98357ufgjmWUxjnAuzbz         Trent    miles.trent@somewhere.com
2  AFtZincSZxjC4Mcxf9Pf         Frier      liz.frier@somewhere.com
3  GYDixDwHjMyihjL8TmsM      Mayberry                         None
4  IpxTuB6FILhwQFcspLws         Downs  'marcha.downs@somewhere.com
5  QoXBfS1JdRp6BqgLzaAz       Roberts                         None
6  eUtZ44lPRbSHXX04EDp7        Melnik   nigel.melnik@somewhere.com
7  n2GG9rlfGOmE0P4TcU0T         James  richard.james@somewhere.com
8  pDlJlul8EJXO8FBJvFkN        Rogers     jim.rogers@somewhere.com
9  tAlJ74xQ7tT4TUHwZgmH        Keenan    mary.keenan@somewhere.com

          phone ownerFirstName
0  555-454-3465            Sam
1          None          Miles
2  555-537-6543            Liz
3  555-454-1243          Jenny
4  555-537-8765         Marsha
5  555-454-2354            Ken
6  555-232-5678          Nigel
7  555-537-7654        Richard
8  555-232-3456            Jim
9  555-232-4567           Mary