<a href="https://colab.research.google.com/github/A01795331/estefania/blob/main/Copy_of_3_2_Actividad_3_Acceso_BD_y_manipulaci%C3%B3n_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlalchemy as sqla
from sqlalchemy import text  # Agregar importación de text

# Instalar las bibliotecas necesarias
!pip install sqlalchemy pymysql

try:
    # 1 Crear el engine y  connect
    db = sqla.create_engine(
        'mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.106.157.52:3306/classicmodels',
        pool_recycle=3600
    )
    conn = db.connect()

    # 2 Consulta SQL para obtener información de las líneas de productos
    query_product_lines = text("SELECT * FROM productlines")
    result = conn.execute(query_product_lines)
    for row in result.fetchall():
      print(row)
      print()

    # 3 Consulta SQL para obtener empleados ordenados por nombre
    query_employees = text("SELECT * FROM employees ORDER BY lastName, firstName")
    result = conn.execute(query_employees)
    for row in result.fetchall():
       print(row)
       print()

    # 4 Consulta SQL para obtener los países con oficinas
    query_countries_with_offices = text("SELECT DISTINCT country FROM offices")
    result = conn.execute(query_countries_with_offices)
    for row in result.fetchall():
      print(row[0])

    # 5 Consulta SQL para obtener nombre y teléfono de clientes de Nueva York
    query_customers_nyc = text("SELECT customerName, phone FROM customers WHERE city = 'NYC'")
    result = conn.execute(query_customers_nyc)
    for row in result.fetchall():
       print(row)
       print()

    # 6 Consulta SQL para obtener código y nombre de productos de 'Gearbox Collectibles' con menos de 1000 unidades en stock
    query_gearbox_products = text(
    "SELECT productCode, productName "
    "FROM products "
    "WHERE productVendor = 'Gearbox Collectibles' AND quantityInStock < 1000"
    )
    result = conn.execute(query_gearbox_products)
    for row in result.fetchall():
       print(row)
       print()

    # 7 Consulta SQL para obtener los tres productos más caros
    query_top_prices = text(
    "SELECT productCode, productName, buyPrice "
    "FROM products "
    "ORDER BY buyPrice DESC "
    "LIMIT 3"
    )
    result = conn.execute(query_top_prices)
    for row in result.fetchall():
      print(row)
      print()

    # 8 Consulta SQL para obtener la cantidad de productos por línea de producto
    query_products_per_line = text(
        "SELECT productLine, COUNT(*) as productCount "
        "FROM products "
        "GROUP BY productLine"
    )
    result = conn.execute(query_products_per_line)
    for row in result.fetchall():
        print(f"Product Line: {row[0]}, Product Count: {row[1]}")
        print()

    # 9 Consulta SQL para obtener la cantidad de empleados por país
    query_employees_per_country = text(
        "SELECT o.country, COUNT(e.employeeNumber) as employeeCount "
        "FROM employees e "
        "JOIN offices o ON e.officeCode = o.officeCode "
        "GROUP BY o.country"
    )
    result = conn.execute(query_employees_per_country)
    for row in result.fetchall():
        print(f"Country: {row[0]}, Employee Count: {row[1]}")
        print()

    # 10 Consulta SQL para obtener el promedio de los pagos por cada cliente de España
    query_avg_payments_per_customer_spain = text(
        "SELECT c.customerName, AVG(p.amount) as averagePayment "
        "FROM customers c "
        "JOIN payments p ON c.customerNumber = p.customerNumber "
        "WHERE c.country = 'Spain' "
        "GROUP BY c.customerNumber"
    )
    result = conn.execute(query_avg_payments_per_customer_spain)
    for row in result.fetchall():
        print(f"Customer: {row[0]}, Average Payment: {row[1]:.2f}")
        print()

finally:
    # Cerrar la conexión en el bloque finally para asegurarse de que se cierre incluso si hay un error.
    if conn:
        conn.close()

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.20)
Requirement already satisfied: pymysql in /usr/local/lib/python3.10/dist-packages (1.1.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (2.0.2)
('Classic Cars', 'Attention car enthusiasts: Make your wildest car ownership dreams come true. Whether you are looking for classic muscle cars, dream sports cars or mo ... (437 characters truncated) ... cles. All models include a certificate of authenticity from their manufacturers and come fully assembled and ready for display in the home or office.', None, None)

('Motorcycles', 'Our motorcycles are state of the art replicas of classic as well as contemporary motorcycle legends such as Harley Davidson, Ducati and Vespa. Models ... (297 characters truncated) ...  out-of-production vehicles. All models come fully assembled and ready for display in the home or office. Most include a certificate of authenticity.', None, None)

('Planes', 'Unique, diecast airplane and helicopter replicas suitable for collections, as well as home, office or classroom decorations. Models contain stunning  ... (55 characters truncated) ... jet engines and propellers, retractable wheels, and so on. Most come fully assembled and with a certificate of authenticity from their manufacturers.', None, None)

('Ships', 'The perfect holiday or anniversary gift for executives, clients, friends, and family. These handcrafted model ships are unique, stunning works of art ... (12 characters truncated) ... e treasured for generations! They come fully assembled and ready for display in the home or office. We guarantee the highest quality, and best value.', None, None)

('Trains', "Model trains are a rewarding hobby for enthusiasts of all ages. Whether you're looking for collectible wooden trains, electric streetcars or locomoti ... (73 characters truncated) ... egory. The interactive aspect of trains makes toy trains perfect for young children. The wooden train sets are ideal for children under the age of 5.", None, None)

('Trucks and Buses', 'The Truck and Bus models are realistic replicas of buses and specialized trucks produced from the early 1920s to present. The models range in size fr ... (124 characters truncated) ... n, diecast and plastic. All models include a certificate of authenticity from their manufacturers and are a perfect ornament for the home and office.', None, None)

('Vintage Cars', 'Our Vintage Car models realistically portray automobiles produced from the early 1900s through the 1940s. Materials used include Bakelite, diecast, p ... (202 characters truncated) ... icas. All models include a certificate of authenticity from their manufacturers and come fully assembled and ready for display in the home or office.', None, None)

(1102, 'Bondur', 'Gerard', 'x5408', 'gbondur@classicmodelcars.com', '4', 1056, 'Sale Manager (EMEA)')

(1337, 'Bondur', 'Loui', 'x6493', 'lbondur@classicmodelcars.com', '4', 1102, 'Sales Rep')

(1501, 'Bott', 'Larry', 'x2311', 'lbott@classicmodelcars.com', '7', 1102, 'Sales Rep')

(1143, 'Bow', 'Anthony', 'x5428', 'abow@classicmodelcars.com', '1', 1056, 'Sales Manager (NA)')

(1401, 'Castillo', 'Pamela', 'x2759', 'pcastillo@classicmodelcars.com', '4', 1102, 'Sales Rep')

(1076, 'Firrelli', 'Jeff', 'x9273', 'jfirrelli@classicmodelcars.com', '1', 1002, 'VP Marketing')

(1188, 'Firrelli', 'Julie', 'x2173', 'jfirrelli@classicmodelcars.com', '2', 1143, 'Sales Rep')

(1611, 'Fixter', 'Andy', 'x101', 'afixter@classicmodelcars.com', '6', 1088, 'Sales Rep')

(1702, 'Gerard', 'Martin', 'x2312', 'mgerard@classicmodelcars.com', '4', 1102, 'Sales Rep')

(1370, 'Hernandez', 'Gerard', 'x2028', 'ghernande@classicmodelcars.com', '4', 1102, 'Sales Rep')

(1165, 'Jennings', 'Leslie', 'x3291', 'ljennings@classicmodelcars.com', '1', 1143, 'Sales Rep')

(1504, 'Jones', 'Barry', 'x102', 'bjones@classicmodelcars.com', '7', 1102, 'Sales Rep')

(1625, 'Kato', 'Yoshimi', 'x102', 'ykato@classicmodelcars.com', '5', 1621, 'Sales Rep')

(1619, 'King', 'Tom', 'x103', 'tking@classicmodelcars.com', '6', 1088, 'Sales Rep')

(1612, 'Marsh', 'Peter', 'x102', 'pmarsh@classicmodelcars.com', '6', 1088, 'Sales Rep')

(1002, 'Murphy', 'Diane', 'x5800', 'dmurphy@classicmodelcars.com', '1', None, 'President')

(1621, 'Nishi', 'Mami', 'x101', 'mnishi@classicmodelcars.com', '5', 1056, 'Sales Rep')

(1056, 'Patterson', 'Mary', 'x4611', 'mpatterso@classicmodelcars.com', '1', 1002, 'VP Sales')

(1216, 'Patterson', 'Steve', 'x4334', 'spatterson@classicmodelcars.com', '2', 1143, 'Sales Rep')

(1088, 'Patterson', 'William', 'x4871', 'wpatterson@classicmodelcars.com', '6', 1056, 'Sales Manager (APAC)')

(1166, 'Thompson', 'Leslie', 'x4065', 'lthompson@classicmodelcars.com', '1', 1143, 'Sales Rep')

(1286, 'Tseng', 'Foon Yue', 'x2248', 'ftseng@classicmodelcars.com', '3', 1143, 'Sales Rep')

(1323, 'Vanauf', 'George', 'x4102', 'gvanauf@classicmodelcars.com', '3', 1143, 'Sales Rep')

USA
France
Japan
Australia
UK
('Land of Toys Inc.', '2125557818')

('Muscle Machine Inc', '2125557413')

('Vitachrome Inc.', '2125551500')

('Classic Legends Inc.', '2125558493')

('Microscale Inc.', '2125551957')

('S18_2581', 'P-51-D Mustang')

('S18_2795', '1928 Mercedes-Benz SSK')

('S10_4962', '1962 LanciaA Delta 16V', Decimal('103.42'))

('S18_2238', '1998 Chrysler Plymouth Prowler', Decimal('101.51'))

('S10_1949', '1952 Alpine Renault 1300', Decimal('98.58'))

Product Line: Classic Cars, Product Count: 38

Product Line: Motorcycles, Product Count: 13

Product Line: Planes, Product Count: 12

Product Line: Ships, Product Count: 9

Product Line: Trains, Product Count: 3

Product Line: Trucks and Buses, Product Count: 11

Product Line: Vintage Cars, Product Count: 24

Country: Australia, Employee Count: 4

Country: France, Employee Count: 5

Country: Japan, Employee Count: 2

Country: UK, Employee Count: 2

Country: USA, Employee Count: 10

Customer: Euro+ Shopping Channel, Average Payment: 55056.84

Customer: Enaco Distributors, Average Payment: 22840.16

Customer: CAF Imports, Average Payment: 23375.57

Customer: Corrida Auto Replicas, Ltd, Average Payment: 37480.03

Customer: Iberia Gift Imports, Corp., Average Payment: 25493.92